gunicorn==20.0.4
django==3.1.9
psycopg2==2.8.4
whitenoise==5.0.1
djangorestframework==3.11.0
markdown==3.1.1
requests==2.22.0
imgaug==0.4.0
ensemble-boxes==1.0.4
timm==0.1.26
omegaconf==2.0.0
albumentations==0.4.6